@charset "utf-8";
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 126, 172);
  }
  
  .header {
    color: #050505;
    background-color: #0c0c0c;
    background:url("dogs\ in\ bathtub.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
    margin-top: -12px;
    height:  10em;
    padding: 20px;
    text-align: center;
    
  }

  .button {
    font-family: 'Roboto'sans-serif;
    background-color: #57c9d8;
    border: none;
    color: #050505;
    padding: .25em;
    text-align: center;
    text-decoration: none;
    margin-top: 1.5em;
    border-radius: 25px;
    margin: 2.5%;
  }
  
.topnav a{ 
    padding-right: 10px;
    display: inline; 
}

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  img { 
float:center;
width: 400px;
height: 300px;
object-fit:contain ;
  }


  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
 